<div class="jumbotron" style="text-align:center; background-color:transparent;">
	<form method="post" action="index.php?page=params" style="padding:0px; margin:0px;">
		<input type="hidden" name="action_form" value="refresh_perso" />
		<input type="submit" class="btn btn-primary btn-large" value="Recharger votre personnage & votre wish list" />
	</form>
	
	<form method="post" action="index.php?page=params" style="padding:0px; margin:0px;">
		<input type="hidden" name="action_form" value="refrech_perso_only" />
		<input type="submit" class="btn btn-primary btn-large" value="Rafraichir votre personnage" />
	</form>
	<form method="post" action="index.php?page=params" style="padding:0px; margin:0px;">
		<input type="hidden" name="action_form" value="delete_perso" />
		<input type="submit" class="btn btn-primary btn-large" value="Supprimer votre personnage" />
	</form>
</div>