<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>Raid Lead Manager - <guilde_name></title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link title="css" rel="stylesheet" type="text/css" href="includes/144_Calendrier/calendar.css" media="screen" />
	<script type="text/javascript" src="http://wowjs.zamimg.com/js/locale_frfr.js?1361299316"></script>
	<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js?1356137196"></script>
	<link rel="stylesheet" href="includes/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="includes/bootstrap/css/bootstrap-theme.css">
	<script src="includes/bootstrap/js/bootstrap.min.js"></script>
	<link title="css" rel="stylesheet" type="text/css" href="styles/general.css" media="screen" />
	<script type="text/javascript" src="functions.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<menu_left>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row nomargin" style="padding-top:85px;">
		<div class="col-md-11 col-lg-11 col-centered">
			<content_general>
		</div>
	</div>









<!--
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr height="50">
			<td colspan="2" id="header">
				<user_name>
				Raid Lead Manager - <guilde_name>
			</td>
		</tr>
		
		<tr valign="top">
			<td width="200" style="padding-top:5px;">
				
			</td>
			<td style="padding-top:5px;">
				<fieldset>
					<legend><title_general></legend>
					<content_general>
			</td>
		</tr>
	</table>
	<div id="wish_player">
	</div>-->
</body>
</html>