<tr>
	<td align="left" class="general" style="border:solid 1px #3A2718;" width="35%">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="56" class="equipement_icon" style="width:56px; padding-left:5px;">
					<img src="<item_img>" />
					<span class="frame frame_<item_quality>"> </span>
				</td>
				<td align="left" width="245">
					<span class="color-<item_quality>"><item_name></span><br />
					<span style="color:#FFF;">
						<item_lvl><br />
					</span>
				</td>
			</tr>
		</table>
		<a href="#" rel="item=<item_id>&amp;domain=fr&amp;gems=<gemmes>&amp;ench=<enchant>" style="position:absolute; width:35%; height:62px; margin-top:-50px; margin-left:-5px;">&nbsp;</a>
	</td>
	<td align="left" class="general" style="border:solid 1px #3A2718;" width="35%">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="56" class="equipement_icon" style="width:56px; padding-left:5px;">
					<img src="<item_img_w>" /3
					<span class="frame frame_<item_quality_w>"> </span>
				</td>
				<td align="left" width="245">
					<span class="color-<item_quality_w>"><item_name_w></span><br />
					<span style="color:#FFF;">
						<item_lvl_w><br />
					</span>
				</td>
			</tr>
		</table>
		<a href="#" rel="item=<item_id_w>&amp;domain=fr" style="position:absolute; width:35%; height:62px; margin-top:-50px; margin-left:-5px;">&nbsp;</a>
	</td>
	<td align="center" style="border:solid 1px #3A2718;">
		<etat>
	</td>
	<td style="border:solid 1px #3A2718; padding:0px 5px;" align="center">
		<actions>
	</td>
</tr>