<div class="panel panel-default">
	<div class="panel-heading">Equipements &eacute;quivalents</div>
	<div class="panel-body">
		<filtres>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#search_loot").keyup(function(){
					var temp_val = $(this).val();
					$(".item_to_chose_cont").each(function(){
						var temp_id = $(this).attr("id");
						if (temp_id){
							var temp_ind = temp_id.indexOf(temp_val);
							if (temp_ind == -1)
								$(this).css("display", "none");
							else
								$(this).css("display", "inline-block");
						}
					});
				});
			});
		</script>&nbsp;
		<div class="row" style="margin-bottom:10px;">
			<div class="col-md-3">
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
					<input type="text" id="search_loot" class="form-control col-md-3" placeholder="Rechercher une pi&egrave;ce" />
				</div>
			</div>
		</div>
		<loots_list>
	</div>
</div>