<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading" style="padding:7px 15px;">
			<div class="row" style="height:26px;">
				<div class="col-md-4" style="line-height:26px;FFD200"><perso_name></div>
				<div class="col-md-8" style="text-align:right;">
					<div class="form-group">
					<form method="post" action="index.php?page=accueil" class="form-horizontal">
						<input type="hidden" name="action_form" value="search_player" />
						<div class="input-group" style="float:right;">
							<div class="col-md-8">
								<select name="player_search" class="form-control" style="padding:2px 12px; height:auto;">
									<persos_list>
								</select>
							</div>
							<button class="btn btn-success col-md-4" type="submit" style="padding:2px 12px;">Consulter</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row nomargin" style="margin-bottom:10px;">
				<div class="col-md-12 nopadding">
					<div class="class_wow">
						<img class="img-circle" src="http://eu.media.blizzard.com/wow/icons/36/<spec_icon>.jpg" />
						<class_and_spec>
					</div>
				</div>
			</div>
			<div class="row nomargin">
				<div class="col-md-6 nopadding">
					<img src="<img_perso>" class="img-rounded" />
				</div>
				<div class="col-md-6 nopadding">
					<table class="table table-striped table-condensed">
						<tr>
							<td>
								Niveau d'objet
							</td>
							<td>
								<span style="color:#FFD200; font-weight:bold;"><ilvl></span>
							</td>
						</tr>
						<tr>
							<td>
								Niveau souhait&eacute;
							</td>
							<td>
								<span style="color:#FFD200; font-weight:bold;"><ilvlwish></span>
							</td>
						</tr>
						<tr>
							<td>
								Accomplissement
							</td>
							<td>
								<span style="color:#FFD200; font-weight:bold;"><purcent>%</span>
							</td>
						</tr>
						<tr>
							<td>
								loots / raid
							</td>
							<td>
								<span style="color:#FFD200; font-weight:bold;"><loots_by_raid></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row nomargin">
				<div class="col-md-12 nopadding">
					<table class="table table-striped table-condensed">
						<thead>
						<tr>
							<th colspan="2">
								Metiers
							</th>
						</tr>
						</thead>
						<tbody>
							<professions>
						</tbody>
					</table>
					<table class="table table-striped table-condensed">
						<thead>
						<tr>
							<th colspan="2">
								Derniers loots obtenus
							</th>
						</tr>
						</thead>
						<tbody>
							<last_loots>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<form_missing>
	<update_news>
</div>