<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>Raid Lead Manager - <guilde_name></title>
</head>
<body>
	<table border="0" cellpadding="5" cellspacing="5" width="100%">
		<tr height="100">
			<td width="110" valign="middle" bgcolor="#D1B285">
				<img src="http://www.larmes-nebuleuses.fr/Portail/emblem.png" width="100" style="display:block; border:none;" />
			</td>
			<td align="center" bgcolor="#D1B285">
				<font style="font-size:13px;" color="#3A2718" face="Tahoma,Helvetica,Arial,sans-serif"><strong>Raid Lead Manager - <guilde_name></strong></font>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" bgcolor="#F7E3C8">
				<contenu_mail>
			</td>
		</tr>
	</table>
</body>
</html>