/*body {
	margin:0px;
	padding:0px;
	background-color:#FFF;
	color:#3A2718;
	font: 11px Tahoma, Helvetica, Arial, sans-serif;
	height:auto;
}
				
a {
    text-decoration: none;
}
	
a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
    text-decoration:underline;
}

* {
	outline: none;
}

img, a img {
    border: 0;
}

input, button, file , textarea{
	vertical-align: middle;
	border: 1px solid #3A2718;
	color: #3A2718;
	border-radius: 3px 3px 3px 3px;
}

p {
	margin: 0;
	padding: 0;
}

fieldset{
	margin:5px;
	background-color:#F7E3C8;
	border:solid 2px #3A2718;
	border-radius: 10px;
}

fieldset legend{
	font-weight:bold;
	font-size:12px;
	display:block;
	padding:0px 5px;
	background-color:#F7E3C8;
	border:solid 2px #3A2718;
	
}

ul.menu{
	font-weight:bold;
	font-size:11px;
}

ul li.actif a{
	text-decoration:underline;
}

td#header{
	background-color:#D1B285;
	border-bottom:solid 2px #3A2718;
	text-align:center;
	font-weight:bold;
	font-size:13px;
}

div.error, div.valide, div.warning{
	 border-radius: 5px;
	 padding:10px;
	 margin:10px 0px;
	 font-weight:bold;
	 min-height:50px;
}

div.error{
	background-color:#F27176;
	color:#990014;
}

div.warning{
	background-color:#FCD597;
	color:#CE7F00;
}

div.valide{
	background-color:#AFF271;
	color:#043500;
}

form label{
	cursor:pointer;
	font-weight:bold;
	font-size:11px;
	line-height:20px;
	padding-right:10px;
	text-align:right;
	width:150px;
	display:block;
	float:left;
}

input.text, select.text{
	font-weight:bold;
	height:20px;
	line-height:20px;
	padding:0px 5px;
	margin:2px;
}

input.submit{
	background-color:#3A2718;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
	padding:0px 5px;
	margin:2px;
}

input.submit:hover, input.submit:focus{
	background-color:#54361F;
}

input.yes,input.no{
	width:50px;
	margin-top:4px;
}

input.yes,input.yes:hover, input.yes:focus{
	background-color:#AFF271;
	color:#043500;
}

input.no,input.no:hover, input.no:focus{
	background-color:#F27176;
	color:#990014;
}

div.item_slot{
	height: 49px;
    width: 49px;
	background-image:url('imgs/inventory-slots.png');
}

div.item_slot img{
	height:44px;
	width:44px;
	display: block;
    padding: 3px 0 0 3px;
}

div.item_slot_4{
	background-position:-245px 0px;
}

td.item_name{
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
}

td.name_4{
	color:#C600FF;
}

tr.loots td{
	border:solid 1px #3A2718;
	font-weight:bold;
	background-color:#D1B285;
}

tr.loots_head td{
	text-align:center;
	font-weight:bold;
	font-size:11px;
	padding:5px 10px;
	cursor:pointer;
	background-color:#3A2718;
	color:#FFF;
	border:solid 2px #3A2718;
}

div.profil{
	width:100%;
	height:155px;
	margin-bottom:20px;
}

span.perso_name{
	font-size:15px;
	line-height:24px;
	text-indent:5px;
	font-weight:bold;
	display:block;
	height:24px;
}

div.profil_global{
	width:992px;
	height:773px;
}
div.profil_left{
	height:500px;
	width:100px;
	float:left;
}

div#stuff table tr td.equipement_icon img{
	display:block;
	border:none;
	width:44px;
	height:44px;
	padding: 3px 0 0 3px;
}

div#stuff table tr td.general{
	background: url("http://eu.battle.net/wow/static/images/character/summary/item-slot-advanced-bg.png") repeat-y scroll left top transparent;
	font-size:11px;
	text-shadow:1px 1px 0 #000;
	height: 57px;
    width: 350px;
}
div#stuff table tr td.right{
	background-position: right top;
}
span.color-1{
	color: #FFFFFF;
}
span.color-2{
	color: #1EFF00;
}
span.color-3{
	color: #0081FF;
}
span.color-4{
	color: #C600FF;
}
span.color-5{
	color: #FF8000;
}
span.frame{
	background-image:url('imgs/inventory-slots.png');
	height:49px;
	width:49px;
	position:absolute;
	margin-top:-47px;
}
span.frame_0{
	background-position: 0px 0;
	margin-top:-25px;
}
span.frame_1{
}
span.frame_2{
}
span.frame_3{
}
span.frame_4{
	background-position: -245px 0;
}

img.talent_img{
	position:absolute;
	margin-top:-36px;
}

tr.head_list, table.stat_list tr.head_list{
	height:30px;
}
tr.head_list td, table.stat_list tr.head_list td{
	text-align:center;
	font-size:13x;
	font-weight:bold;
	cursor:pointer;
	line-height:30px;
	border:2px solid #3A2718;
	background-color:#D1B285;
	color:#3A2718;
	padding:5px;
}

table.stat_list tr td{
	background-color:#3A2718;
	font-size:11px;
	font-weight:bold;
	color:#FFF;
	padding:2px 5px;
}

div.item_to_chose{
	width:150px;
	height:100px;
	background-color:#3A2718;
	border:solid 2px #3A2718;
	float:left;
	margin:2px;
}

div.temp_loot{
	background-color:#F7E3C8;
	border:solid 2px #F7E3C8;
}

div.temp_loot table tr td{
	background-color:#F7E3C8;
}

div.not_loot{
	background-color:#CCC;
	border:solid 2px #F7E3C8;
}

div.not_loot table tr td{
	background-color:#CCC;
}

div.craft{
	background-color:#F7BC6A;
	border:solid 2px #F7E3C8;
}

div.craft table tr td{
	background-color:#F7BC6A;
}

div.reputation{
	background-color:#76D166;
	border:solid 2px #F7E3C8;
}

div.reputation table tr td{
	background-color:#76D166;
}

div.raid_finder{
	background-color:#385C7C;
	border:solid 2px #F7E3C8;
}

div.raid_finder table tr td{
	background-color:#385C7C;
}


div.item_to_chose:hover{
	cursor:pointer;
	border-color:#FFF;
}

select.filter{
	height:18px;
	line-height:18px;
	font-weight:bold;
	font-size:11px;
	color:#3A2718;
}
div#params_identifiants, div#params_email, div#params_refresh{
	width:350px;
	background-color:#D1B285;
	padding:5px;
}
div#params_email_refresh{
	width:340px;
}
div#params_identifiants, div#params_email_refresh{
	float:left;
}
div#params_email, div#params_refresh{
	margin-left:10px;
}
div#params_refresh{
	margin-top:10px;
}

div#wish_player{
	display:none;
	position:absolute;
	width:400px;
	padding:10px;
	top:100px;
	left:50%;
	margin-left:-200px;
}
ul#inter_players li{
	font-weight:bold;
	margin-bottom:15px;
}
ul#inter_players li span{
	font-size:12px;
}

div#stats_avancement, div#stats_accomplissement{
	width:300px;
	float:left;
	margin-left:10px;
}

div#stats_avancement div.global, div#stats_accomplissement div.global{
	width:300px;
	height:16px;
	margin-bottom:2px;
	border:solid 1px #000;
	line-height:16px;
	color:#3A2718;
	text-indent:5px;
	text-align:leftt;
	font-weight:bold;
}

div#stats_avancement div.global div.perso, div#stats_accomplissement div.global div.perso{
	width:100px;
	height:16px;
	line-height:16px;
	font-weight:bold;
	font-size:10px;
	border-right:solid 1px #000;
	float:left;
}

div#stats_accomplissement div.global div.cell{
	width:99px;
	height:16px;
	line-height:16px;
	font-weight:bold;
	font-size:10px;
	border-right:solid 1px #000;
	float:left;
}
div#stats_avancement div.global div.avancement, div#stats_accomplissement div.global div.avancement{
	background-color:#1EFF00;
	float:left;
	width:189px;
	height:16px;
	text-align:right;
	padding-right:10px;
}

span#import_stuff{
	display:block;
	cursor:pointer;
	height:20px;
	line-height:20px;
	font-weight:bold;
	width:200px;
	text-align:center;
	background-color: #3A2718;
    color: #FFFFFF;
	border: 1px solid #3A2718;
    border-radius: 3px 3px 3px 3px;
}
span#import_stuff:hover{
	background-color:#54361F;
}

span.color_class_1{
	color:#C69B6D;
}
span.color_class_2{
	color:#F48CBA;
}
span.color_class_3{
	color:#AAD372;
}
span.color_class_4{
	color:#FFF468;
}
span.color_class_5{
	color:#FFFFFF;
}
span.color_class_6{
	color:#C41E3B;
}
span.color_class_7{
	color:#2359FF;
}
span.color_class_8{
	color:#68CCEF;
}
span.color_class_9{
	color:#9382C9;
}
span.color_class_10{
	color:#008467;
}
span.color_class_11{
	color:#FF7C0A;
}

td.color_class_1{
	background-color:#C69B6D;
}
td.color_class_2{
	background-color:#F48CBA;
}
td.color_class_3{
	background-color:#AAD372;
}
td.color_class_4{
	background-color:#FFF468;
}
td.color_class_5{
	background-color:#FFFFFF;
}
td.color_class_6{
	background-color:#C41E3B;
}
td.color_class_7{
	background-color:#2359FF;
}
td.color_class_8{
	background-color:#68CCEF;
}
td.color_class_9{
	background-color:#9382C9;
}
td.color_class_10{
	background-color:#008467;
}
td.color_class_11{
	background-color:#FF7C0A;
}

table.stats_compare{
	float:left;
	margin-right:5px;
}

table.stats_compare tr td.stat_name{
	width:100px;
	padding:5px;
	text-align:left;
	background-color:#3A2718;
	color:#FFF;
}

table.stats_compare tr td.stat_value{
	width:50px;
	padding:5px;
	text-align:center;
	background-color:#3A2718;
	color:#FFF;
}

div#chargement_stats{
	width:100%;
	font-weight:bold;
	height:20px;
	line-height:20px;
	text-align:center;
}
*/

.col-centered{
    float: none;
    margin: 0 auto;
}

.nomargin{
	margin:0px;
}
.nopadding{
	padding:0px;
}

.class_wow{
	background-color:#6f2715;
	color:#FFF;
	border-radius:18px;
	height:36px;
	font-weight: bold;
}
.class_wow img{
	margin-right:10px;
}
span.color-1{
	color: #FFFFFF;
}
span.color-2{
	color: #1EFF00;
}
span.color-3{
	color: #0081FF;
}
span.color-4{
	color: #C600FF;
}
span.color-5{
	color: #FF8000;
}
table tr td.equipement_icon img{
	display:block;
	border:none;
	width:44px;
	height:44px;
	border-radius: 5px;
	border:solid 1px #000;
}

.jumbotron{
	padding:10px 40px 0px;
	margin:5px 10px;
}
.jumbotron input{
	width:90%;
	margin-bottom:10px;
}

div.item_to_chose{
	margin:10px 5px;
}

.arian{
	color:#FFF;
}